<!DOCTYPE html>
<html>

<head>
	<title>MoneyBuddy</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<h1>MoneyBuddy</h1>
		<a href="/">Dashboard</a>
		<a href="/">Finances</a>
		<a href="/">Send & Request</a>
		<a href="">Deals</a>
		<a href="">Wallet</a>
		<a href="">Activity</a>
		<a href="">Help</a>
	</header>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer>
		<p>2022 &copy; Batuhan, Koraganji & McMonigal. All Rights Reserved.</p>
	</footer>
</body>

</html>