<!DOCTYPE html>
<html>
<!-- This is the baseof template. Every page on the website inherits the structure and styling defined on this page -->

<head>
	<title>MoneyBuddy</title>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/styles.css">
</head>

<body>
	<header>
		<a href="/">
			<h1>MoneyBuddy</h1>
		</a>
		<a href="/pages/finances">Finances</a>
		<a href="/pages/sendandrequest">Send & Request</a>
		<a href="/pages/wallet">Wallet</a>
		<a href="/pages/activity">Activity</a>
		<a href="/pages/help">Help</a>
		<!-- <a href="/pages/signin">Sign In</a>
		<a href="/pages/signup">Sign Up</a> -->
	</header>
	<h1 id="page-title">{{ .Page.Title }}</h1>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer>
		<p>2022 &copy; Batuhan, Koraganji & McMonigal. All Rights Reserved.</p>
	</footer>
	<!-- this currently doesn't work so just ignore it -->
	<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
	<script type="module">
		import { createClient } from 'https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm';

		export const supabase = createClient(
			'https://ilppggmovveiqbdfqock.supabase.co',
			'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlscHBnZ21vdnZlaXFiZGZxb2NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjkxNDgzMjUsImV4cCI6MTk4NDcyNDMyNX0.CtbCNofuFQysY-uhhx4rn68pr7JJjMZvMEaBuwia0kk'
		);
	</script>
</body>

</html>