<!DOCTYPE html>
<html>

<head>
	<title>MoneyBuddy</title>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/styles.css">
</head>

<body>
	<header>
		<a href="/">
			<h1>MoneyBuddy</h1>
		</a>
		<a href="/pages/dashboard">Dashboard</a>
		<a href="/pages/finances">Finances</a>
		<a href="/pages/help">Send & Request</a>
		<a href="/pages/deals">Deals</a>
		<a href="/pages/wallet">Wallet</a>
		<a href="/pages/activity">Activity</a>
		<a href="/pages/help">Help</a>
	</header>
	<h1 id="page-title">{{ .Page.Title }}</h1>
	<main>
		{{ block "main" . }}
		{{ end }}
	</main>
	<footer>
		<p>2022 &copy; Batuhan, Koraganji & McMonigal. All Rights Reserved.</p>
	</footer>
</body>

</html>